.customText {
	color: #969696 !important;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.7rem !important;
	margin: 0;
}

.customFooter {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fcfefe;
	height: 20vh;
	position: absolute;
	width: 100%;
	bottom: 0;
	flex-direction: column;
	/* margin-top: auto; */
}
