p {
	color: #606060 !important;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.7rem !important;
	margin: 0;
}

footer {
	align-items: center;
	background-color: #ffffff;
	height: 15vh;
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: center;
	width: 100%;
}
