@import '../../fonts/fonts.css';

.dropdown-item {
	color: #969696 !important;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8rem !important;
	font-weight: 400 !important;
}

.navbar {
	padding: 0px !important;
	background-color: #fcfefe;
	box-shadow: 0px 2px 7px #dbdbdb;
}

.nav-link {
	color: #2f9296 !important;
	font-family: 'Oswald', sans-serif;
	font-size: 0.7rem;
	font-weight: 400;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	padding: 1rem !important;
}

a:hover {
	color: #ffffff !important;
	background-color: #46b7b9 !important;
}

.nav-item:hover .dropdown-menu {
	display: block !important;
}
